{% for tx in transactions %}
<tr>
    <td class="col-delete">
        <button onclick="deleteTransaction({{ tx.id }})" class="btn-delete" title="Smazat transakci">&times;</button>
    </td>
    <td class="col-edit">
        <button type="button" class="btn-edit" onclick="openEditModal({{ tx.id }})" title="Upravit transakci">✎</button>
    </td>
    <td class="col-date">{{ tx.date|date:"d. m. Y" }}</td>
    
    <td class="col-type">
        {% if tx.transaction_type == 'INCOME' %}
            <span class="income">Příjem</span>
        {% else %}
            <span class="expense">Výdaj</span>
        {% endif %}
    </td>
    
    <td class="col-amount"> 
        {{ tx.amount|floatformat:"2" }} 
        {% if tx.currency == 'CZK' %}Kč{% elif tx.currency == 'USD' %}${% elif tx.currency == 'EUR' %}€{% endif %}
        
        {% if tx.currency != selected_currency %}
            <br><small class="converted-amount">(~ {{ tx.converted_amount|floatformat:"-2" }} {{ selected_currency }})</small>
        {% endif %}
    </td>
    
    <td class="col-category">{{ tx.get_category_display }}</td>
    
    <td class="col-desc" title="{{ tx.description }}">{{ tx.description }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="6" style="text-align: center; color: #7f8c8d;">Zatím zde nejsou žádné transakce. Zadejte svou první výše!</td>
</tr>
{% endfor %}